#map {
    height: 85vh;
    /*width: 95vw;*/
    border: 1px solid #000;
    margin: auto;
    margin: 0px;
    z-index: 0;
}
#map_log {
    font-size: 10px;
    margin-left: 0px;
}
#map_full {
    height: 85vh;
    width: 98vw;
    border: 1px solid #000;
    margin: auto;
    margin: 10px;
    float: left;
}